.fondo {
    background-image: url("../../img/fondoDiml.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
  }
  
  .fondo-blanco {
      background: rgba(255, 255, 255, 0.5);
  }


.titulo-diml h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.descripcion-diml p {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    color: #3d3d3d; /* Un tono gris para no competir con el título */
    letter-spacing: 1px;
    margin-top: 5px; /* Espacio entre título y subtítulo */
    font-style: italic;
}
