.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sección hero */
.hero-section {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Imagen de fondo */
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1; /* Para que la imagen quede detrás del texto */
}

/* Contenedor del texto encima de la imagen */
.hero-content {
  position: relative;
  color: white;
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.page-title {
  font-size: 3rem;
  font-weight: bold;
}

.page-subtitle {
  font-size: 1.5rem;
}

/* Contenedor de descripción con disposición en fila */
.descripcion-contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 750px;
    height: auto;
    background: white;
    padding: 40px;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    text-align: left;
    border: 3px solid black;
    margin-left: -30%;
}

/* Imagen dentro de la descripción */
.descripcion-imagen {
  width: 50%; /* Imagen más grande */
  height: auto;
  border-radius: 15px;
  margin-right: 30px; /* Más separación del texto */
}

/* Contenedor del título y descripción */
.descripcion-titulo {
  width: 60%; /* Espacio más amplio para el texto */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilos del título */
.descripcion-titulo h2 {
  font-size: 1.2rem; /* Más grande */
  margin-bottom: 20px;
}

/* Estilos del párrafo */
.descripcion-titulo p {
  font-size: 0.8rem; /* Aumenta el tamaño */
  color: #333;
  line-height: 1.6; /* Espaciado para mayor legibilidad */
}

.contadores-contenedor {
    border: 2px solid black;
}
