.footer {
    background-color: #f7f7f7;
    color: #ecf0f1;
    text-align: center;
    padding: 20px 0;
    position: relative;
    border: 1px solid #e0e0e0;
    bottom: 0;
    width: 100%; 
    box-sizing: border-box; 
    z-index: 99;
  }
  
  .footer-content {
    width: 100%; 
    margin: 0 auto; 
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-icon {
    color: black;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .social-icon:hover {
    text-decoration: underline;
  }
  